<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.unity3d.player"
          xmlns:tools="http://schemas.android.com/tools">

	<application>
		<activity android:name="com.unity3d.player.UnityPlayerActivity"
				  android:theme="@style/UnityThemeSelector">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="unityplayer.UnityActivity"    android:value="true" />
			<meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true" />
		</activity>

		<!-- Add this line so Oculus entitlements check your real App ID -->
		<meta-data
			android:name="com.oculus.platform.APP_ID"
			android:value="10068527899873733" />
	</application>

	<!-- (Optional) you can add Oculus VR feature checks here if you want -->
	<!--
  <uses-feature android:name="android.hardware.vr.high_performance" android:required="true" />
  -->
</manifest>
